<h1>Bike Report:</h1>

<table border="1">
  <thead> 
    <th> Bike ID
      <td> Broken/Working </td>
    </th>
  </thead>
  <tbody>
    <% Bike.all.each do |bike| %>
    <tr>
      <td><%= bike.object_id %></td> 
      <td><%= bike.broken? ? "Broken" : "Working" %></td>
    </tr> 
    <% end %>
  </tbody>
</table>

<p>
  <a href="/station_report"> Click here for the Station report.  
  </a>
</p>

<p> Click <a href = '/delete_bikes'> to clear the database </p>