<h1>Your bikes have been sent to the skip. </h1>
<table border="1">
  <thead> 
    <th> Data Points
      <td> Number </td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Number of Bikes</td> 
      <td><%= Bike.all.count %></td>
    </tr>
  </tbody>
</table>


<p>
  <a href="/start">Click here to start again.
  </a>
</p>