<h1>Station Report:</h1>
<table border="1">
  <thead>
    <th>Data Points
      <td>Number</td>
    </th>
  </thead>
<tbody>
  <% Station.all.each do |station| %>
  <tr>
    <td><%= h station.object_id %></td>
    <td> Broken:working </td>
    
  </tr>

  <%end%>
</tbody>

<p>
  <a href="/">Click here to start again.
  </a>
</p>