<h1>Welcome to the Boris Bikes Reporting App</h>

<p>
  <a href="/start">Click here to start.
  </a>
</p>


<div>
  <img src="http://bluenosegirl.com/wp-content/gallery/fz7/random-london-6.jpg" alt="Boris Bikeks" class="picture" /> 
</div>