<h1>Welcome to the Boris Bikes Reporting App</h1>

<p>
  <a href="/report">Click here to start.
  </a>
</p>

<div>
  <p>Create your Boris Bike system:</p>

</div>
  <form name="Bozzer Scenario Setup" action="/create_system" method = "post">
    How many Bikes do you want in the system? <input type="number" name= "no_bikes" ><br>
    How many Stations do you want in the system? <input type="number" name= "no_stations" ><br>
    How many People do you want in the system? <input type="number" name= "no_people" ><br>
      <input type="submit" value="Let there be Bikes">
  </form>
<div>
  <img src="http://bluenosegirl.com/wp-content/gallery/fz7/random-london-6.jpg" alt="Boris Bikeks" class="picture" /> 
</div>