<h1>Welcome to the Boris Bikes Reporting App</h1>

<div>
  <p>Create your Boris Bike system:</p>

</div>
  <form name="Bozzer Scenario Setup" action="/create_system" method = "post">
    How many <b>Bikes</b> do you want? <input type="number" name= "no_bikes" ><br>
    How many <b>Stations</b> do you want? <input type="number" name= "no_stations" ><br>
    How many <b>People</b> do you want? <input type="number" name= "no_people" ><br>
      <input type="submit" value="Let there be Bikes">
  </form>
<div>
  <img src="http://bluenosegirl.com/wp-content/gallery/fz7/random-london-6.jpg" alt="Boris Bikeks" class="picture" /> 
</div>