<!DOCTYPE html>
<html>
  <head>
    <title>Michelle and Jordan's Sinatra App</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>

    <div>

    <%= yield %>

    </div>

  </body>
</html>