<h1>Bozzer Report:</h1>

<table border="1">
  <thead> 
    <th> Item
      <td> Number </td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Number of Bikes</td> 
      <td><%= Bike.all.count %></td>
    </tr>
    <tr>
      <td>Number of Stations</td> 
      <td><%= Station.all.count %></td>
    </tr>
    <tr>
      <td>Number of Bikes</td> 
      <td><%= Person.all.count %></td>
    </tr>
  </tbody>
</table>

