<h1>Bozzer Report:</h1>

<table border="1">
  <thead> 
    <th> Item
      <td> Number </td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td><a href="/bike_report"> Number of Bikes </a></td> 
      <td><%= Bike.all.count %></td>
    </tr>
    <tr>
      <td><a href="/station_report">Number of Stations</a></td> 
      <td><%= Station.all.count %></td>
    </tr>
    <tr>
      <td>Number of People</td> 
      <td><%= Person.all.count %></td>
    </tr>
  </tbody>
</table>

