<h1>Bike Report:</h1>

<table border="1">
  <thead> 
    <th> Data Points
      <td> Number </td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Number of Bikes</td> 
      <td><%= bikes.count %></td>
    </tr>
  </tbody>
</table>

<p>
  <a href="/station_report"> Click here for the next level of report  
  </a>
</p>